.login {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login .overlap-wrapper {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
}

.login .overlap {
  position: relative;
  height: 1024px;
}

.login .creat-account {
  position: absolute;
  width: 960px;
  height: 1024px;
  top: 0;
  left: 480px;
  background-color: #ffffff;
}

.login .text-wrapper {
  position: absolute;
  top: 115px;
  left: 109px;
  font-weight: 600;
  color: #000000;
  font-size: 40px;
  font-family: "Poppins", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.login .frame {
  display: flex;
  width: 719px;
  padding: 15px 40px;
  top: 447px;
  left: 119px;
  background-color: #0084d6;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  border-radius: 10px;
}

.login .div {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-weight: 500;
  color: #ffffff;
  font-size: 22px;
  font-family: "Poppins", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.login .text-wrapper-2 {
  position: absolute;
  top: 550px;  /* sebelumnya 533px, jadi lebih ke bawah */
  left: 125px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #9f9f9f;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 0.1px;
}


.login .text-wrapper-3 {
  position: absolute;
  top: 550px;
  left: 340px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #387c9f;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 0.1px;
}

.login .overlap-group {
  position: absolute;
  width: 721px;
  height: 84px;
  top: 329px;
  left: 118px;
}

.login .div-2 {
  position: absolute;
  width: 721px;
  height: 67px;
  top: 17px;
  left: 0;
  border-radius: 10px;
  border: 1px solid;
  border-color: #00a2e8;
}

.login .div-wrapper {
  display: inline-flex;
  height: 36px;
  padding: 0px 8px;
  top: 0;
  left: 30px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  border-radius: 10px;
}

.login .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #9f9f9f;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 0.1px;
}

.login .view-hide {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 35px;
  left: 669px;
}

.login .overlap-group-2 {
  position: relative;
  width: 24px;
  height: 22px;
  top: 2px;
  left: 3px;
}

.login .subtract {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 8px;
  left: 7px;
}

.login .img {
  position: absolute;
  width: 24px;
  height: 17px;
  top: 5px;
  left: 0;
}

.login .vector {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 0;
  left: 3px;
}

.login .overlap-2 {
  position: absolute;
  width: 721px;
  height: 84px;
  top: 228px;
  left: 121px;
}

.login .frame-2 {
  display: inline-flex;
  height: 36px;
  padding: 0px 8px;
  top: 0;
  left: 27px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  border-radius: 10px;
}

.login .rectangle {
  position: absolute;
  width: 538px;
  height: 1024px;
  top: 0;
  left: 0;
}

.login .grammar-correction {
  position: absolute;
  width: 447px;
  height: 456px;
  top: 241px;
  left: 36px;
  object-fit: cover;
}
.input-email,
.input-sandi {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.div {
   background-color: #008bbd;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.div:hover {
  background-color: #008bbd;
}
